<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-medium" %>
</div>

<!--<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %> -->
