<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a herf="https://www,udemy.com">The complete Ruby on Rails Developer</a>
      by <a href="http://www.mashrurhossain.com/">Mashurur Hossain</a>
      <p>Site Admin: Ed DeRosa</p>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>
      </ul>
    </nav>
  </footer>
</div>